<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="../styles/pagination.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../styles/manage.css">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
</head>
<body>
<header>
  <span>文档管理中心（管理员）</span>
  <a href="../index.html">退出</a>
  <a href="changePwd.html">修改密码</a>
  <a href="rootBook.html">前往书籍管理</a>
</header>
<div class="wrap">
  <div class="row">
     <section class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
      <div class="manage">
        <div class="seo input-group">
          <select class="form-control"  name="seoType" id="seoType">
            <option value="name">文档名称</option>
            <option value="type">文档类型</option>
            <option value="owner">文档所有者</option>
          </select>
          <input type="text" class="form-control" value="" id="seo">
          <button class="btn btn-primary form-control" type="button" name="button" id="search">点击搜索</button>
        </div>
        <ul class="nav navbar-nav" id="btn_manage">
          <li><a  href="#" data-toggle="modal" data-target="#myModal">上传</a></li>
          <li><a id="btn_download" href="#">下载</a></li>
          <li><a  data-toggle="modal" data-target="#editModal" href="#">编辑</a></li>
          <li><a id="btn_delete" href="#">删除</a></li>
        </ul>
      </div>

      <div class="pagination-container">
        <table class="table table-bordered msgtable">
          <thead>
            <tr>
              <td></td>
              <td>名称</td>
              <td>文档类型</td>
              <td>描述</td>
              <td>上传时间</td>
              <td colspan="2">操作</td>
            </tr>
          </thead>
          <tbody id="msgtable">

          </tbody>

        </table>
      </div>
      <div class="hidden" id="hidden-table"></div>

      <nav id="Pagination" class="pagination"></nav>
    </section>
  </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">上传文件</h4>
            </div>
            <div class="modal-body">
                <input multiple="multiple" type="file" name="file" id="file"><br/>
                <textarea id="discription" rows="4" cols="50" placeholder="请输入文件描述" class="textarea"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-info" id="btn_upload">点击上传</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">修改描述</h4>
            </div>
            <div class="modal-body">
                <textarea id="discriptionCg" rows="4" cols="50" placeholder="请输入文件描述" class="textarea"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-info" id="btn_edit">点击确定</button>
            </div>
        </div>
    </div>
</div>

<script src="../scripts/jquery.min.js"></script>
<script src="//cdn.bootcss.com/tether/1.4.0/js/tether.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="../scripts/manage.js"></script>
<script src="../scripts/jquery.pagination.js"></script>
</body>
</html>
