<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="../styles/pagination.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../styles/manage.css">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <style type="text/css">
        div.content {width:300px;height: 200px;float: left;margin-top: 10px;position: relative;}
        div.picture {position: relative;float: left;width: 134px;height: 180px;}
        /*background: url("http://img62.ddimg.cn/digital/product/23/14/1960072314_ii_cover.jpg?version=f74b40ea-4705-43e1-96c7-2731814d3263") 3px 6px no-repeat;padding: 10px 10px 20px;}*/
        div.menu {width: 134px;height: 180px;padding: 10px 10px 20px;float: left;}
        div.picture img{width: 114px;height: 150px;box-shadow:7px 7px 5px #888888;}
        div.menu dl dt{height: 50px;}
        div.msgtable{height: 575px;margin-top: -600px;margin-left: 80px}
        div.msgtable input{position:absolute;bottom:20px;left: 0px;}
    </style>
</head>
<body>
<header>
  <strong>书籍管理中心（管理员）</strong>
  <a href="../index.html">退出</a>
  <a href="changePwd.html">修改密码</a>
  <a href="rootManage.html">前往文件管理</a>
</header>
</header>
<div class="wrap">
  <div class="row">
     <section class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
      <div class="manage">
        <div class="seo input-group">
            <!-- <span type="button" class="btn btn-primary form-control dropdown-toggle" data-toggle="dropdown">原始
                <span class="caret"></span>
            </span>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a href="#">功能</a>
                </li>
                <li>
                    <a href="#">另一个功能</a>
                </li>
                <li>
                    <a href="#">其他</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#">分离的链接</a>
                </li>
            </ul> -->
            <select class="form-control"  name="seoType" id="seoType">
              <option value="name">书籍名称</option>
              <option value="type">书籍类型</option>
              <option value="label">书籍标签</option>
            </select>
          <input type="text" class="form-control" value="" id="seo">
          <button class="btn btn-primary form-control" type="button" name="button" id="search">点击搜索</button>

        </div>
        <ul class="nav navbar-nav" id="btn_manage">
          <li><a  href="#" data-toggle="modal" data-target="#myModal">上传</a></li>
          <li><a id="btn_download" href="#">下载</a></li>
          <li><a id="btn_delete" href="#">删除</a></li>
          <li><a  data-toggle="modal" data-target="#editModal" href="#">编辑描述</a></li>
          <li><a  data-toggle="modal" data-target="#" href="#">编辑标签</a></li>
        </ul>
      </div>

      <div class="pagination-container">
        <div class="side-type hidden">
          <ul class="nav navbar-nav pull-left">
            <!-- <li><a index="7" value="*">所有类型|</a></li> -->
            <li><a index="1" value="计算机技术">计算机技术  |</a></li>
            <li><a index="2" value="书法篆刻">书法篆刻  |</a></li>
            <li><a index="3" value="中国文学">中国文学  |</a></li>
            <li><a index="4" value="哲学类">哲学类  |</a></li>
            <li><a index="5" value="摄影影视">摄影影视  |</a></li>
            <!-- <li><a index="6" value="其他">其他</a></li> -->
          </ul>
        </div>
        <div class="side-label hidden">
          <ul class="nav navbar-nav pull-left">
            <!-- <li><a index="7" value="*">所有类型|</a></li> -->
            <li><a index="1" value="3~6岁">3~6岁|</a></li>
            <li><a index="2" value="考试辅导">考试辅导|</a></li>
            <li><a index="3" value="流行">流行|</a></li>
            <li><a index="4" value="小众">小众|</a></li>
            <li><a index="5" value="鸡汤">鸡汤|</a></li>
            <li><a index="5" value="待会再写">待会再写|</a></li>
            <!-- <li><a index="6" value="其他">其他</a></li> -->
          </ul>
        </div>
        <div class="side">
          <ul class="pull-left">
            <li><span class="btn ">书籍类别</span></li>
            <li><span class="btn ">热门标签</span></li>
            <li><span class="btn ">所有书籍</span></li>
          </ul>
        </div>

        <!-- <table class="table table-bordered msgtable">
          <thead>
            <tr>
              <td></td>
              <td>名称</td>
              <td>标签</td>
              <td>文档类型</td>
              <td>描述</td>
              <td>存储路径</td>
              <td colspan="2">操作</td>
            </tr>
          </thead>
          <tbody id="msgtable">

          </tbody>

        </table> -->

      </div>
      <div class="msgtable clearfixs">

      </div>
      <div class="hidden" id="hidden-table"></div>

      <nav id="Pagination" class="pagination"></nav>
    </section>
  </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">上传书籍</h4>
            </div>
            <div class="modal-body" style="width:447px">
                <input multiple="multiple" type="file" name="file" id="file"><br/>
                <div class="input-group">
                <span class="input-group-addon">书籍类别</span>
                <select class="form-control" data-style="btn-info" name="type" id="type">
                  <option value="计算机技术">计算机技术</option>
                  <option value="书法篆刻">书法篆刻</option>
                  <option value="中国文学">中国文学</option>
                  <option value="哲学类">哲学类</option>
                  <option value="摄影影视">摄影影视</option>
                  <option value="其他">其他</option>
                </select>
                </div>
                <br>
                <input type="text" name="" class="form-control" placeholder="请输入书籍标签,多个标签用英文逗号分开">
                <small style="color:red;">Tips: 鬼畜,抖腿,洛天依</small>
                <br>
                <textarea id="discription" rows="4" cols="50" placeholder="   请输入书籍描述" class="textarea"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-info" id="btn_upload">点击上传</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">修改描述</h4>
            </div>
            <div class="modal-body">
                <textarea id="discriptionCg" rows="4" cols="50" placeholder="请输入文件描述" class="textarea"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-info" id="btn_edit">点击确定</button>
            </div>
        </div>
    </div>
</div>

<script src="../scripts/jquery.min.js"></script>
<script src="//cdn.bootcss.com/tether/1.4.0/js/tether.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="../scripts/bookManage.js"></script>
<script src="../scripts/jquery.pagination.js"></script>
</body>
</html>
